// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body{
    width: 100vw;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
