.productsOrder {
    width: 100%;
}


.listOrder {
    height: 45px;
    width: 95vw;
    background: #643006;
    position: absolute;
    bottom: 51px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 650px) {
    .listOrder {
        display: none;
    }
}

.input-container{
    .ant-input-number{
        .ant-input-number-input-wrap{
            input{
                font-weight: bolder;
            }
        }
    }
}