.appAdmin{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slideMenuAndPageContent{
    display: flex;
    flex: 1;
    align-items: flex-start;
}

@media (min-width: 650px) {
    .mobileFooter{
        display: none;
    }
  
}

@media (max-width: 650px) {
    .mobileSide{
        display: none;
    }
    .ant-menu-title-content{
        margin-inline-start: 0 !important;
    }
    .content{
        width: 100% !important;
    }
}